@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<head>

    @*<link rel="stylesheet" href="~/css/mainpage.css" type="text/css">*@
</head>


<body style="background-image: url('https://img.freepik.com/free-vector/business-performance-analysis-with-graphs_53876-59914.jpg?w=2000'); background-repeat: no-repeat; background-size: 100%; background-position: center; ">
    
    <div style="align-items: center; font-size: 30px; text-align: center;">
        
        <div style="margin-top: 200px;">
            <p style="font-size: 50px; font-family: Impact; margin-bottom: 20px; ">Witaj w twoim nowoczensym najlepszym menadżerze zadań.</p>
        </div>
   

    </div>

</body>




